
body {
  background-color: #362828;
}

.calculator {
  width: 500px;
  margin: 50px auto;
  padding: 20px;
  border: 2px solid #4d505e;
  border-radius: 10px;
  background-color: #667276;
}

.display {
  width: 96%;
  height: 60px;
  font-size: 2rem;
  text-align: right;
  padding: 10px;
  background: #343232;
  color: white;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow-x: auto;
}

.buttons-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  width: 100%;
  padding: 20px;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #444;
  color: white;
  transition: 0.2s ease-in-out;
}

button:hover {
  background: #555;
}

.operator {
  background: #f39c12;
  color: white;
}

.operator:hover {
  background: #e67e22;
}

.equals {
  background: #27ae60;
  color: white;
}

.equals:hover {
  background: #2ecc71;
}

.clear {
  background: #c0392b;
  color: white;
}
.clear:hover {
  background: #e74c3c;
}